@import url('https://fonts.googleapis.com/css2?family=Waiting+for+the+Sunrise&display=swap');
/*font-family: 'Waiting for the Sunrise', cursive; -> fonte para a polaroid */
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
/*font-family: 'Varela Round', sans-serif;*/
/*<img src="Imagens/Pessoas com pets.jpg" alt="ilustração de um homem segurando um cachorro e uma mulher segurando um gato" class="adocao_img">*/
body{
    font-family: 'Varela Round', sans-serif;
    color: #5e5452;
}
.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
}
.logo_img{
    width: 50px;
}
header a{
    text-decoration: none;
}
.logo_texto{
    font-family: 'Waiting for the Sunrise', cursive;
    color: rgb(156, 156, 156);
    font-weight: bold;
    max-width: 70px;
}
nav{
    display: flex;
    justify-content: center;
}
nav a{
    margin: 10px 20px;
    text-decoration: none;
    color:rgb(156, 156, 156);
    font-size: 20px;
}
nav a:hover{
    color: #5ec1d1;
}
.abertura{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 545px;
}
.abertura_img{
    width: 200px;
}
.abertura a:hover{
    transform: scale(1.1);
}
.abertura_texto{
    width: 420px;
    text-align: center;
}
.abertura_texto h1{
    font-size: 60px;
    font-weight: bold;
    margin-bottom: 15px;
}
.doe{
    color: #5e5452;
    text-decoration: none;
    font-weight: bold;
}
.doe:hover{
    text-decoration: underline;
}
#historia{
    background-color: #97c1a9;
}
.historia_img_e_texto{
    display: flex;
    align-items: center;
    margin-bottom: 50px;
}
#historia h2{
    font-size: 40px;
    margin: 50px;
    text-align: center;
}
.hostoria_img{
    height: 720px;
}
.historia_texto{
    width: 620px;
    padding: 0px 0px 50px 30px;
    text-indent: 2em;
    text-align: justify;
}
#adocao{
    width: 100%;
    height: 650px;
    background-image: url(Imagens/Pessoas\ com\ pets.jpg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
#adocao h3{
    text-align: center;
    font-size: 30px;
}
.adocao_texto{
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    background-color: #fee1e8be;
    padding: 50px;
    color: black;
    border-radius: 20px;
    text-indent: 2em;
    text-align: justify;
}
span{
    font-weight: bold;
}
#adote{
    background-color: #ffffb5;
}
#adote h2{
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    padding: 20px;
}
#adote p{
    font-size: 20px;
    text-align: center;
    margin: 10px;
}
#adote p a{
    text-decoration: none;
    color: #5e5452;
    font-weight: bold;
}
.adote_titulo{
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 25px;
    margin: 20px;
}
.adote_titulo img{
    width: 60px;
}
.adote_pets_disponiveis{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 50px 0px;
}
.adote_pets_polaroid{
    background-color: #ffffff;
    padding: 15px 15px 40px;
    margin: 0px 20px 50px;
}
.adote_pets_polaroid:hover{
    transform: scale(1.2);
}
.adote_pets_img{
    width: 250px;
}
.adote_pets_nome{
    margin-top: 20px;
    font-family: 'Waiting for the Sunrise', cursive;
    font-size: 30px;
    text-align: center;
}
#visita{
    width: 100%;
    height: 550px;
}
#visita h2{
    font-size: 30px;
    text-align: center;
    padding-top: 30px;
}
.mapa{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 40px;
    margin-bottom: 30px;
}
#contribua{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: #d4f0f0;
    padding: 110px 0px;
}
.doacao{
    background-color: #55cbcd;
    width: 300px;
    padding: 10px;
    text-align: center;
    border-radius: 20px;
}
.doacao h2{
    font-size: 20px;
    margin: 10px;
}
.doacao img{
    width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.doacao a{
    text-decoration: none;
    color: #5e5452;
    font-weight: bold;
}
.doacao a:hover{
    color: #ffffff;
    text-decoration: underline;
}
form{
    width: 300px;
    text-align: left;
    display: flex;
    flex-wrap: wrap;
    margin-left: 15px;
}
label{
    display: block;
    width: 85px;
    font-weight: bold;
}
input{
    width: 150px;
    border: none;
    border-radius: 5px;
}
input:focus{
    border: none;
}
label, input{
    margin: 10px 0px;
    padding: 5px 0px 5px 5px;
}
.botao{
    width: 70px;
    font-family: 'Varela Round', sans-serif;
    font-weight: bold;
}
.botao:hover{
    transform: scale(1.1);
}
#redes_sociais{
    background-color: #5e5452;
}
.seta{
    width: 40px;
    position: fixed;
    right: 0;
    top: 95%;
    margin-top: -2.5em;
}
footer{
    text-align: center;
}
footer a img{
    width: 30px;
    margin: 20px 0px;
}